primes-list.txt
es.png
env
.ipynb_checkpoints/*
prime-list.txt
opinioni/evolution.dat

opitioni/evolution.dat

moti/.ipynb_checkpoints
moti/paper.zip
moti/*.eps

esperimento_dilatazione_tempo/.ipynb_checkpoints
esperimento_dilatazione_tempo/2021-03-11-Nota-21-56.xopp
esperimento_dilatazione_tempo/2021-03-11-Nota-21-56.xopp~
esperimento_dilatazione_tempo/far_tornare_iconti.png
esperimento_dilatazione_tempo/PSSC - 03. La Dilatazione Del Tempo.mp4
